name: my_flutter_app
description: "Payment Services UI App"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  shared_preferences: ^2.1.1
  # State management
  provider: ^6.1.2

  # API calling
  http: ^1.2.2

  # Icons (modern UI)
  flutter_svg: ^2.0.10

  # Google fonts (clean UI)
  google_fonts: ^6.2.1
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/
    - assets/images/bharatconnect.png
